/* GENERAL */
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
body {
  max-width: 100vw;
}
img {
  box-shadow: 0px 3px 6px #00000029;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FONTS */
@font-face {
  font-family: "Bodoni";
  src: url("/Fonts/BauerBodoniStd-Roman.eot");
  src: url("/Fonts/BauerBodoniStd-Roman.woff2") format("woff2"),
    url("/Fonts/BauerBodoniStd-Roman.woff") format("woff"),
    url("/Fonts/BauerBodoniStd-Roman.ttf") format("truetype"),
    url("/Fonts/BauerBodoniStd-Roman.svg#BauerBodoniStd-Roman") format("svg"),
    url("/Fonts/BauerBodoniStd-Roman.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Helvetica";
  src: url("/Fonts/HelveticaLTStd-Roman.eot");
  src: url("/Fonts/HelveticaLTStd-Roman.woff2") format("woff2"),
    url("/Fonts/HelveticaLTStd-Roman.woff") format("woff"),
    url("/Fonts/HelveticaLTStd-Roman.ttf") format("truetype"),
    url("/Fonts/HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman") format("svg"),
    url("/Fonts/HelveticaLTStd-Roman.eot?#iefix") format("embedded-opentype");
}

.margin {
  height: 66px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0.3rem;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}
.header:first-child {
  padding-left: 3rem;
}
.logo {
  height: 45px;
  border-radius: 8px;
  padding-top: 5px;
  filter: invert();
}
.logo:hover {
  filter: invert(0);
}
.header_right {
  display: flex;
  justify-content: space-between;
  margin-right: 6rem;
  font-family: Helvetica;
  font-size: 1.2rem;
}
.header_link {
  padding: 0.3rem 0.2rem 0.2rem;
}
.header_link:hover {
  color: rgb(165, 165, 165);
  cursor: pointer;
  border-radius: 8px;
}
.header_right .header_slash {
  padding: 0.3rem 0.2rem 0.2rem;
}
.section {
  width: 100vw;
  min-height: 100vh;
}

/* WELCOME */
.section1 {
  height: 100vh - 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 h1 {
  font-family: Bodoni;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 4rem;
}
.section1 h2 {
  font-family: Helvetica;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.imageCont img {
  width: 800px;
}
.socialBtns {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialBtns:last-child {
  margin-right: 0;
}
.socialBtnCont {
  height: 37px;
  width: 37px;
  margin-right: 10px;
  padding: 5%;
}
.socialBtnCont:hover {
  padding: 0;
}
.socialBtns img {
  height: 100%;
  width: 100%;
  box-shadow: none;
}
.fbCont {
  height: 42px;
  width: 42px;
}

/* BOXES */
.boxesSection {
  text-align: center;
  margin: 5rem 0 8rem;
  font-family: Helvetica;
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
}
.boxesCont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10vw;
  max-width: 1200px;
  margin: 50px auto 0;
}
.box {
  background-color: rgb(230, 240, 240);
  box-shadow: 0px 3px 6px #00000029;
  /* color: white; */
  border-radius: 15px;
  padding: 2rem 1rem;
  max-width: 180px;
  margin-bottom: 30px;
}

/* BIO */
.bio {
  text-align: center;
}
.bio h1 {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.bioCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
}
.booksCont {
  margin-bottom: 50px;
  text-align: center;
  margin: 3rem auto;
}
.bioText {
  max-width: 350px;
  justify-self: flex-end;
  padding-right: 5%;
  font-family: Helvetica;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 0.03rem;
  line-height: 30px;
  text-align: right;
}
.bioText h3 {
  margin-bottom: 20px;
}
.bioImgCont {
  padding-left: 5%;
  justify-self: flex-start;
}
.bioImgCont img {
  width: 300px;
}
.emailBtn {
  margin-top: 30px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  font-weight: 300;
}
.emailBtn:hover {
  background-color: #ddd;
}

/* SERVEIS */
.section4 h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 1.7rem;
}
.servicesDescriptionCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.servicesImgCont1 {
  justify-self: flex-end;
  padding-right: 5%;
}
.servicesText {
  max-width: 350px;
  line-height: 30px;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 0.03rem;
  justify-self: flex-start;
  padding-left: 5%;
  font-family: Helvetica;
  text-align: left;
}
.servicesText h3 {
  margin-bottom: 20px;
  font-weight: bold !important;
}

/* VIDEOS */
.section3 {
  text-align: center;
  text-transform: uppercase;
}
.section3 h1 {
  margin-bottom: 30px;
  font-size: 1.7rem;
}
.videosCont {
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.videosCont iframe {
  margin-bottom: 50px;
}

/* CONTACTO */
.section5 {
}
.form {
  width: 70%;
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  font-family: Helvetica;
}
.formTitle {
  background-color: #212121;
  color: white;
  padding: 0.3rem 0.6rem;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.formCont {
  padding: 1rem 0 0.5rem;
}
.formInputCont {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 0.7rem;
}
.formInputCont p {
  justify-self: flex-end;
  padding: 0.4rem 1rem 0 0;
}
.formInputCont input,
.formInputCont textarea {
  justify-self: flex-start;
  padding-right: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  outline: none;
  border: 1px solid black;
}
.formInputCont textarea {
  height: 100px;
  resize: none;
}
.btnEnviaCont {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}
.btnEnvia {
  background-color: #212121;
  outline: none;
  border: none;
  color: white;
  padding: 0.7rem 2.5rem;
  font-size: 1.1rem;
}

/* FLIP CARD */
.review {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.review:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
