@import url(https://fonts.googleapis.com/css?family=Lato:300|Oswald);
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 5em;
  perspective: 80em;
}

.carousel {
  position: relative;
  width: 450px;
  height: 315px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}
.carousel[data-slide="1"] {
  transform: rotateY(0deg);
}
.carousel[data-slide="2"] {
  transform: rotateY(-90deg);
}
.carousel[data-slide="3"] {
  transform: rotateY(-180deg);
}
.carousel[data-slide="4"] {
  transform: rotateY(-270deg);
}

.carousel__slide {
  top: 40px;
  position: absolute;
  width: 450px;
  height: 315px;
  background: white;
}
.carousel__slide iframe {
  width: 100%;
}

.back,
.carousel__slide:nth-child(3) {
  transform: translateZ(-225px) rotateY(180deg);
}

.right,
.carousel__slide:nth-child(2) {
  transform: rotateY(-270deg) translateX(225px);
  transform-origin: top right;
}

.left,
.carousel__slide:nth-child(4) {
  transform: rotateY(270deg) translateX(-225px);
  transform-origin: center left;
}

.front,
.carousel__slide:nth-child(1) {
  transform: translateZ(225px);
}

.next,
.prev {
  position: absolute;
  top: 50%;
  right: 0;
  width: 7em;
  margin-top: -2.5em;
  border-radius: 3px;
  background: #44cc00;
  text-align: center;
  line-height: 3;
  color: white;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev {
  left: 0;
}

/** PAGE STYLES **/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.carousel__slide:before,
.cf:after,
.carousel__slide:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after,
.carousel__slide:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf,
.carousel__slide {
  *zoom: 1;
}
